interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
      X-Client-Version:
      - 0.14.1
      X-Iceberg-Access-Delegation:
      - vended-credentials
    method: GET
    uri: https://iceberg-test.ohsome.org/v1/config
  response:
    body:
      string: '{"defaults":{},"overrides":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json
      X-Client-Version:
      - 0.14.1
      X-Iceberg-Access-Delegation:
      - vended-credentials
    method: GET
    uri: https://iceberg-test.ohsome.org/v1/namespaces/geo_sort/tables/contributions
  response:
    body:
      string: '{"metadata-location":"s3a://heigit-ohsome-planet/iceberg/geo_sort/contributions/metadata/00002-c96f8645-6fa7-4e5b-9392-6c8694467bef.metadata.json","metadata":{"format-version":2,"table-uuid":"ef30d2be-61ab-4431-88db-d85d8f579b77","location":"s3a://heigit-ohsome-planet/iceberg/geo_sort/contributions","last-sequence-number":1,"last-updated-ms":1725696468364,"last-column-id":84,"current-schema-id":0,"schemas":[{"type":"struct","schema-id":0,"fields":[{"id":1,"name":"user_id","required":false,"type":"int"},{"id":2,"name":"valid_from","required":false,"type":"timestamp"},{"id":3,"name":"valid_to","required":false,"type":"timestamp"},{"id":4,"name":"osm_type","required":false,"type":"string"},{"id":5,"name":"osm_id","required":false,"type":"string"},{"id":6,"name":"osm_version","required":false,"type":"int"},{"id":7,"name":"contrib_type","required":false,"type":"string"},{"id":8,"name":"members","required":false,"type":{"type":"list","element-id":31,"element":{"type":"struct","fields":[{"id":32,"name":"type","required":false,"type":"string"},{"id":33,"name":"id","required":false,"type":"long"},{"id":34,"name":"role","required":false,"type":"string"},{"id":35,"name":"geometry","required":false,"type":"binary"}]},"element-required":false}},{"id":9,"name":"status","required":false,"type":"string"},{"id":10,"name":"changeset","required":false,"type":{"type":"struct","fields":[{"id":36,"name":"id","required":false,"type":"long"},{"id":37,"name":"timestamp","required":false,"type":"timestamp"},{"id":38,"name":"tags","required":false,"type":{"type":"map","key-id":41,"key":"string","value-id":42,"value":"string","value-required":false}},{"id":39,"name":"hashtags","required":false,"type":{"type":"list","element-id":43,"element":"string","element-required":false}},{"id":40,"name":"editor","required":false,"type":"string"}]}},{"id":11,"name":"tags","required":false,"type":{"type":"map","key-id":44,"key":"string","value-id":45,"value":"string","value-required":false}},{"id":12,"name":"tags_before","required":false,"type":{"type":"map","key-id":46,"key":"string","value-id":47,"value":"string","value-required":false}},{"id":1[...]
