interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.66%2C+49.425%5D%2C+%5B8.66%2C+49.43%5D%2C+%5B8.67%2C+49.43%5D%2C+%5B8.67%2C+49.425%5D%2C+%5B8.66%2C+49.425%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+%28highway%3D%2A%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"result\" : [ {\n    \"timestamp\" : \"2026-07-27T09:00:00Z\",\n
        \   \"value\" : 49.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.66%2C+49.425%5D%2C+%5B8.66%2C+49.43%5D%2C+%5B8.67%2C+49.43%5D%2C+%5B8.67%2C+49.425%5D%2C+%5B8.66%2C+49.425%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+%28highway%3D%2A%29&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          8.6680954,\n          49.425\n
        \       ],\n        [\n          8.6677089,\n          49.4255241\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24805636\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"highway\"
        : \"track\",\n      \"smoothness\" : \"good\",\n      \"surface\" : \"asphalt\",\n
        \     \"tracktype\" : \"grade1\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n
        \   \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6621647,\n          49.4268613\n        ],\n        [\n
        \         8.6621414,\n          49.426905\n        ],\n        [\n          8.6600211,\n
        \         49.4299001\n        ],\n        [\n          8.66,\n          49.4299315\n
        \       ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/25018743\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"highway\"
        : \"track\",\n      \"surface\" : \"gravel\",\n      \"tracktype\" : \"grade3\"\n
        \   }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.66,\n
        \         49.429896\n        ],\n        [\n          8.6600211,\n          49.4299001\n
        \       ],\n        [\n          8.6605541,\n          49.43\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/25019321\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"highway\"
        : \"track\",\n      \"motor_vehicle\" : \"destination\",\n      \"name\" :
        \"Mittelfeldweg\",\n      \"smoothness\" : \"good\",\n      \"surface\" :
        \"asphalt\",\n      \"tracktype\" : \"grade1\"\n    }\n  }, {\n    \"type\"
        : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6600397,\n          49.4265898\n        ],\n        [\n
        \         8.66011,\n          49.4265074\n        ],\n        [\n          8.6601595,\n
        \         49.4264341\n        ],\n        [\n          8.6601862,\n          49.4263972\n
        \       ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/156202533\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"bicycle\"
        : \"yes\",\n      \"foot\" : \"yes\",\n      \"highway\" : \"service\",\n
        \     \"surface\" : \"asphalt\",\n      \"tracktype\" : \"grade1\"\n    }\n
        \ }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.66,\n
        \         49.4266471\n        ],\n        [\n          8.6600397,\n          49.4265898\n
        \       ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/504249801\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"bicycle\"
        : \"yes\",\n      \"foot\" : \"yes\",\n      \"highway\" : \"track\",\n      \"lit\"
        : \"no\",\n      \"motor_vehicle\" : \"agricultural\",\n      \"smoothness\"
        : \"good\",\n      \"surface\" : \"asphalt\",\n      \"tracktype\" : \"grade1\",\n
        \     \"traffic_sign\" : \"DE:260;DE:1026-36\"\n    }\n  }, {\n    \"type\"
        : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6657937,\n          49.425\n        ],\n        [\n
        \         8.665548,\n          49.4253959\n        ]\n      ]\n    },\n    \"properties\"
        : {\n      \"@osmId\" : \"way/24974993\",\n      \"@snapshotTimestamp\" :
        \"2026-07-27T09:00:00Z\",\n      \"highway\" : \"track\",\n      \"lit[...]
[...]
